.view {
    padding :5rem;
    background-color: var(--background);
} 

.details-top {
    display: flex;
    padding: 1rem;
    margin-bottom: 70px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 3px solid #fff;
}

.name-w {
    display: flex;
    gap: 0.6rem
}

.coin-name-w {
    font-size: 3rem; 
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding-bottom: 1rem;
    
} 
.coin-name-w .span {
    color: #4d4d4d;
    font-size: 2.2rem;
}

.rank, .cap,.rank:hover, .cap:hover {
    background: var(--color2);
    /* border-radius: 4px; */
    margin:0 5px;
    width: 8rem;
    border-radius: 4px;
    border: none;
    font: inherit;
    cursor: text;
    padding: 2px;
    background: var(--color2);
    
}
.price-label {
    font-size: 1.rem;
    font-weight: 500;
    color: #4d4d4d;
    text-align : right;
}
.price h2{
    font-size: 2.5rem;
    font-weight: 600;
}
.price {
    display:flex;
    gap: 0.4rem;
    padding-bottom: 1rem;
    color:#4d4d4d;
    font-size: 1.2rem;
}
.rate,.rate:hover {
    background-color: inherit;
}

.red-b,.green-b {
    padding: 4px;
    border-radius: 4px;
    border: none;
    font: inherit;
    cursor: text;
}
.red-b {
    background-color: #ff0000;
}
.green-b {
    background-color: green;
}
.buys {
    border: none;
    background-color: #329239;
    color: #ffffff;
    border-radius: 9px;
    box-shadow: 0 8px #999;
    padding: 15px 25px;
    font-size: 24px;
    transition: all 2s;
}
.buys:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    transition: all 4ms;
}
.bulk {
    display:flex;
    justify-content: space-between;
}
.bulk h3 {
    padding-bottom: 1.2rem;
    text-align: left;
}
.bulk div:not(:last-child) {
    border-right: 3px solid #fff;
}
.title {
    color: var(--color2)
}
.bulk p {
    text-align: center;
}
.detail {
    margin: 2px;
}



@media screen and (max-width: 790px) {
    /* .details {
        
    } */
    .coin-name-w {
        font-size: 2rem; 
        font-weight: 700;
        
    } 
    .coin-name-w .span {
        font-size: 1.8rem;
    }
    .price-label {
        font-size: 0.9rem;
    }
    .price h2{
        font-size: 1.8rem;
        font-weight: 600;
    }
    .price {
        display:flex;
        gap: 0.4rem;
        padding-bottom: 1rem;
        color:#4d4d4d;
        font-size: 1.2rem;
    }
    .rank, .cap,.rank:hover, .cap:hover { 
        margin:0 3px;
        width: 6rem;
        border-radius: 4px;
        border: none;        
    }
    .buys {
        border-radius: 8px;
        box-shadow: 0 6px #999;
        padding: 10px 18px;
        font-size: 20px;
        transition: all 2s;
    }
  
  } 
@media screen and (max-width: 675px) {
    .view {padding: 0.75rem;}
  } 
@media screen and (max-width: 550px) {
    .details {
        display: flex;
        flex-direction: column;
        align-items: center; 
        height: 280px;
    }
    
    .bulk {
        display: flex;
        flex-direction: column;
        align-items: center; 
        height: 680px;
    }
    .details>div{
        display: flex;
    }
    .card-right{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .price-label {
        font-size: 1.2rem;
        text-align : right;
    }
    .price h2{
        font-size: 2.4rem;
        font-weight: 600;
    }
    .view {padding: 3rem;}
  
    .view-btns {
        display: flex;
        justify-content: center;
    }
    .detail {
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 12px 22px;
        margin: .4rem;
        width: 210px;
        height: 170px;
        border-radius: 24px;
        border: 1px solid #d3d3d3;
        /* box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px; */
        text-align: center;
        background-color: rgba(247, 148, 26,0.5);
    }
} 
@media screen and (max-width: 460px){
    .card-left{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .price-label {
        font-size: 1.0rem;
        text-align : right;
    }
    .price h2{
        font-size: 1.8rem;
        font-weight: 600;
    }
    .details>div{
        flex-direction: column;
    }
}
@media screen and (max-width: 380px){
    .price-label {
        font-size: 0.7rem;
        text-align : right;
    }
    .price h2{
        font-size: 1.4rem;
        font-weight: 400;
    }
    
}
