:root {
    --fs-5: 1.8rem;
    --fs-7: 1.4rem;
    --cadet-blue-crayola: hsl(227, 13%, 73%);
    --white: hsl(0, 0%, 100%);
    --roman-silver: hsl(223, 10%, 52%);
    
}


.market-table {
     width: 100%; 
}
.table-heading,
.table-data { padding: .25rem; }

.table-heading {
  /* font-size: var(--fs-5); */
  text-align: left;
  /* white-space: nowrap; */
}

/* table { border-collapse: collapse; } */
/* .market-table .table-head { border-block-end: 2px solid var(--white); } */

.table-row:not(.table-title) { height: 90px; }

/* .market-table .add-to-fav {
    color: var(--cadet-blue-crayola);
    font-size: 18px;
  } */

  .market-table .coin-name {
    font-size: var(--fs-5);
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
  
  .market-table .coin-name .span {
    color: var(--roman-silver);
    font-size: var(--fs-7);
  }
  .market-table .btn-outline {
    /* border-width: 2px; */
    padding-inline: 10px;
  }