






/* .wrapper {
  display: flex;
  gap: 0.4rem;
} */


/* @media screen and (max-width: 490px) {
  table .market-vol {
    display: none;
  }
} */

/* @media screen and (max-width: 478px) {
  .market-cap, .market-vol {
      display: none;
  }
} */
