.portfolio {
    background-color: var(--background);
    /* opacity: 0.3; */
}
.summary {
    display: flex;
    width: 90%;
    justify-content: space-around;
    height: 200px;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 5px;
}
.balance {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(165, 170, 117); */
    border-radius: 8px;
    background-color: #f7931a;
    width: 40%;
    height: 100%;
    text-align: center;
    /* line-height: 500%; */
    justify-content: center;
}
.balance p {
    font-size: xx-large;
    font-weight: 700;
    color: green;
}
.balance h3 {
    font-size: 2rem;
    color: #4d4d4d;
}

.add {
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px #999;
    padding: 15px 25px;
    font-size: 24px;
    background-color: #329239;
}
.add:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.p-lower {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.p-lower th {
    color: #4d4d4d;
}
td, tbody th {
    /* border-bottom: 1px solid gray; */
    padding: 20px;

}
td:not(.name) {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
@media screen and (max-width:640px){
    
    .add {
        border: none;
        border-radius: 12px;
        box-shadow: 0 6px #999;
        padding: 10px 20px;
        font-size: 21px;
    } 
    .balance {
        /* border: 1px solid rgb(165, 170, 117); */
        border-radius: 7px;
        /* background-color: rgb(238, 234, 229); */
        width: 35%;
    }
    .balance p {
        font-size: x-large;
        font-weight: 600;
        /* color: green; */
    }
    
}
@media screen and (max-width:515px){
.summary {
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: space-around;
        height: 500px;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 5px;
        margin: auto;
    }  
    .balance {
        /* border: 1px solid rgb(165, 170, 117); */
        border-radius: 9px;
        /* background-color: rgb(238, 234, 229); */
        width: 75%;
        height: 225px;
    }
    .p-lower {
        display: flex;
        /* grid-template-columns: repeat(2, 1fr); */
    }
    .add {
        margin-bottom: 10px;
        /* border-radius: 15px;
        box-shadow: 0 8px #999;
        padding: 15px 25px;
        font-size: 24px; */
    }
}