.portfolio {
    background-color: var(--background);
    /* opacity: 0.3; */
}
.summary {
    display: flex;
    width: 90%;
    justify-content: space-around;
    height: 200px;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 5px;
}
.balance {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(165, 170, 117); */
    border-radius: 8px;
    background-color: rgb(238, 234, 229);
    width: 40%;
    height: 100%;
    text-align: center;
    /* line-height: 500%; */
    justify-content: center;
}
.balance p {
    font-size: xx-large;
    font-weight: 700;
    color: green;
}

.add {
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px #999;
    padding: 15px 25px;
    font-size: 24px;
}
.add:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }