.market-div {
  display: none;
}
.table-body td, .table-head th,.table-body th {
    border: 0.4rem outset rgb(226, 248, 208);
    border-collapse: collapse;
    text-align: center;
    padding: .25rem;
    background-color: var(--background);;
  }
  
.table-row:not(.table-title) { height: 90px; }

td:not(:first-child) {
  color: #4d4d4d;
}
thead {
  width: 100%;
  height: 75px;
  /* border-bottom: 1px solid #eee; */
  background: #fff;
  position: sticky;
  top: 90px;
  left: 0;
  z-index: 5;
}
thead th {
  background-color: var(--background);
  color: 	#4d4d4d;
}
/* tbody {
  overflow-x: scroll;
} */
table {
  width: 100%;
  
}
.table-btn {
  border: none;
  background-color: #329239;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px #999;
  padding: 15px 25px;
  font-size: 24px;
  transition: all 2s;
}
.table-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: all 4ms;
}
.add-to-fav {
  /* color: hsl(223, 10%, 52%); */
  font-size: 18px;
  border: var(--background);
  background: var(--background);
  
}

.add-to-fav:hover {
  background-color: inherit;
}

.coin-name {
  /* font-size: 1.5rem;  */
  /* display: flex; */
  /* align-items: center; */
  gap: 0.4rem;
  height: 90px;
} 
.watched{
  color:yellow;
}
.unwatched {
  color:#666
}
#Add,.Adds {display: none;}

.market-table .coin-name .span {
  color: hsl(223, 10%, 52%);
  /* font-size: var(--fs-7); */
}
th.table-data.rank.num:hover {
  background-color: azure;
}

@media screen and (max-width: 890px) {
  #Add, .Adds {display: table-cell;}

  .Purchase,#Purchase {display: none}

  .table-row .Adds:hover {
    cursor: pointer;
    background-color: azure;;
    font-size: xx-large;
  }

}
/* @media screen and (max-width: 827px) {
  .table-body td, .table-head th,.table-body th {
    border: 0.4rem outset rgb(226, 248, 208);
    border-collapse: collapse;
    text-align: center;
    padding: .25rem;
    background-color: var(--background);;
  }

} */
@media screen and (max-width: 706px) {

  #Market-Cap,.market-cap {display: none}

}
@media screen and (max-width: 575px) {

  .market-vol,#Volume {display: none}
  
}
@media screen and (max-width: 520px) {

  .market-table {display: none}
  .market-div,#Market-Cap,.market-cap,.market-vol,#Volume {display: block}
   
  .div-row {
    display: flex;
    justify-content: space-between;
    /* height: 80px; */
    gap: 0.4rem;
    border-bottom: solid 1px #4d4d4d;
    width: 100%;
  }
  .mark {
    justify-self: flex-end;
    /* align-self: flex-end; */
    
  }
  .div-row div {
    padding: 0.2rem;
  }
  .material-icons {
    font-size: 12px;
  }
  .div-data.name h4 {
    font-size: 1rem;
    font-weight: 400;

  }
  .div-data.name h4 span {
    font-size: 0.8rem;
    font-weight: 400;

  }
  .div-data {
    font-size: 0.8rem;
    font-weight: 400;
    /* text-align: right; */

  }
  .one {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
  }
  .centage {
    display: flex;
  }
  .last-update {
    font-size: 0.8rem;
  }
  .market-vol {
    padding-left: 30px;
  }
}

@media screen and (max-width: 335px) {

  .div-row div {
    padding: 0.1rem;
  }
  .div-data.name h4 {
    font-size: 0.8rem;
    font-weight: 400;

  }
  .div-data.name h4 span {
    font-size: 0.6rem;
    font-weight: 400;
  }
  .div-data {
    font-size: 0.6rem;
    font-weight: 400;

  }
}