.market-div {
  display: none;
}
.market-table {
  width: 80%;
  margin: auto;
}
.table-body td, .table-head th,.table-body th {
    /* border: 0.4rem outset rgb(226, 248, 208); */
    /* border: none; */
    border-collapse: collapse;
    text-align: left;
    padding: .25rem;
    /* background-color: var(--background); */
}
  
.table-row:not(.table-title) {
  height: 90px; 
  border-bottom: 1px solid var(--color3-gray);
}
.table-row:not(.table-title):hover{
  background-color: var(--highlight);
  z-index: 50;
}

td:not(:first-child) {
  color: var(--font-white-co);
}
thead {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #eee;
  /* background: #fff; */
  background: var(--black-bg);
  position: sticky;
  top: 90px;
  left: 0;
  z-index: 5;
}
thead th {
  /* background-color: var(--background); */
  background-color: hsl(240, 5%, 8%);
  /* color: 	#4d4d4d; */
  color: var(--font-white-co);
}
/* tbody {
  overflow-x: scroll;
} */
table {
  width: 100%;
  
}
.red,.green {white-space: nowrap}
.table-btn {
  border: 0.02rem solid var(--color2);
  /* background-color: #329239; */
  background-color: inherit;
  /* color: #ffffff; */
  color: hsl(223, 10%, 52%);
  border-radius: 45%;
  padding: 12px 22px;
  font-size: 1rem;
  transition: all 0.5s;
}
.table-row:not(.table-title):hover .table-btn {
  background-color: #3e8e41;
  color: var(--color1);
}
.table-btn:active {
  background-color: #3e8e41;
  color: var(--color1);
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
  transition: all 4ms;
}
.add-to-fav {
  /* color: hsl(223, 10%, 52%); */
  font-size: 18px;
  border: var(--background);
  background: var(--background);
  
}

.add-to-fav:hover {
  background-color: inherit;
  color: yellow;
}
.material-icons.unwatched:hover {
  color: yellowgreen;
}

.coin-name {
  /* font-size: 1.5rem;  */
  /* display: flex; */
  /* align-items: center; */
  gap: 0.4rem;
  height: 90px;
} 
.watched {
  color: yellow;
}
.unwatched {
  color: #666;
}
#Add,.Adds {display: none;}

.market-table .coin-name .span {
  color: hsl(223, 10%, 52%);
  /* font-size: var(--fs-7); */
}

@media screen and (max-width: 890px) {
  #Add, .Adds {
    display: table-cell;
    background-color: inherit;
  }

  .Purchase,#Purchase {display: none;}

  .table-row .Adds:hover {
    cursor: pointer;
    background-color: inherit;
    font-size: xx-large;
  }

}

@media screen and (max-width: 706px) {

  #Market-Cap,.market-cap {display: none}

}
@media screen and (max-width: 575px) {

  .market-vol,#Volume {display: none}
  
}
@media screen and (max-width: 520px) {
  /* *{border:solid red 1px;} */
  .market-table {display: none}
  .market-div {
    display: table-cell;
    width: 100%;
    margin: auto;
  }
  .market-div td {
    padding: 0.4rem;
  }
  table {width: 100%;}

 
  .div-row div {
    padding: 0.2rem;
  }
  td .material-icons,.Adds {
    font-size: 16px;
  }
  .div-data.name h4 {
    font-size: 1rem;
    font-weight: 400;

  }
  .div-data.name h4 span {
    font-size: 0.8rem;
    font-weight: 400;
    color: hsl(223, 10%, 52%);

  }
  .one {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
   .centage {
    display: flex;
  }
  .last-update,.last-price,.mark {
    font-size: 0.7rem;
  }
}

 @media screen and (max-width: 400px) {

  .div-row div {
    padding: 0.1rem;
  }
  .div-data.name h4 {
    font-size: 0.7rem;
    font-weight: 400;

  }
  td .material-icons,.Adds {
    font-size: 12px;
  }
  .div-data.name h4 span {
    font-size: 0.6rem;
    font-weight: 400;
  }
  .div-data {
    font-size: 0.6rem;
    font-weight: 400;

  } 
}
 @media screen and (max-width: 315px) {
  .market-div td {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }

}