@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --primary: #118c4f;
  /* --background: #f5f8ff; */
  --color1: #f7931a;
  --color2: #0d579b;
  --color3-gray: #4d4d4d;
  --grayer-bg-nav: rgba(17, 17, 17,0.8);
  --font-white-co: hsl(0, 0%, 100%);/*navLink*/
  --cadet-blue-co: hsl(227, 13%, 73%); /*colorBody*/
  --blackest-nav: hsl(240, 5%, 8%);
  --black-bg: hsl(228, 9%, 10%);
  
} 

/*light*/














.primary {
  color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-white-co);
}

.container {
  max-width: 100%;
  margin: auto;
}


body {
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 100%; */
  /* overflow-x: hidden; */
  /* max-width: 1240px; */
  background-color: var(--black-bg);
  color: var(--cadet-blue-co);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
button {
  cursor: pointer; 
  border: none;
  color: #fff;
  /* background-color: #04AA6D; */
  font-size: 1.1rem;
  font-weight: 600;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.2;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.2;
}

p {
  font-size: 1.2rem;
}



/* input {
  padding: 12px 32px;
  border: 1px solid var(--primary);
  background: transparent;
  border-radius: 24px 4px;
  font-size: 1rem;
  margin-right: .8rem;
  font-family: 'Poppins', sans-serif;
} */


@media screen and (max-width:768px) {
  h1 {
    font-size: 2.1rem;
    line-height: 1.2;
  }
  
  h2 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  
  h5 {
    font-size: 1.1rem;
    line-height: 1.2;
  }
  
  p {
    font-size: 1rem;
  }

  

  input {
    width: 100%;
  }

}